/* BASE STYLES */

body {
    background-color: #006494;
    font-family: 'Bitter', serif;
}

ul {
    list-style-type: none;
    display: inline;
}

li {
    display: inline-block;
    margin: 10px;
}

.capitalize {
    text-transform: capitalize;
}

/* ACCOUNT INFORMATION */

.account-info-row {
    background-color: #F0F7EE;
    border-bottom: 10px solid #474E5D;
}

/* HEADER */

.main {
    margin-top: 25px;
}

img.banner {
    max-width: 800px;
    width: 100%;
}

/* BACKGROUNDS */

.bg-1 {
    background-color: #006494;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

/* CARD STYLES */

.card {
    background-color: #F0F7EE;
    border: 10px solid #474e5d;
}

.card-img-top {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}

.image-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vw;
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
}

/* RESULTS AREA */

.results-area {
    width: 90%;
    height: auto;
}

.error-card {
    padding: 20px;
    height: 25vw;
    min-height: 150px;
}

/* GOOGLE RESULTS */

.descriptor {
    font-weight: bold;
    cursor: pointer;
}

.google-desc {
    display: none;
}

.google-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* EBAY RESULTS */

#books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
}

.ebay-card {
    width: 100%;
    max-width: 18rem;
    margin: 10px;
    height: auto;
    align-items: center;
}

.ebay-card .card-title {
    font-size: 1rem!important;
}


/* PRIOR SEARCHES */

#priorSearches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
}

.search-card {
    width: 15rem;
    margin: 10px;
    height: auto;
    align-items: center;
}

.search-card-body {
    text-align: center;
}





.remove {
    display: block;
    margin: 5px auto;
}