/* BASE STYLES */

html {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    background-color: #1883A5;
    font-family: 'Bitter', serif;
    font-size: 1rem;
    animation: fadeIn 1s ease-in-out 0s;
    transition: all .3s ease-in-out;
    animation-fill-mode: backwards;
}

/* NAV BAR */
.navbar {
    padding: 0!important;
}

.navbar-toggler {
    border-radius: 25px!important;
    border: 2px solid #474E5D!important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

#account-info ul {
    list-style-type: none;
    display: inline;
}

#account-info li {
    display: inline-block;
    margin: 10px;
}

.capitalize {
    text-transform: capitalize;
}


/* WRAPPER */

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
}


/* ACCOUNT INFORMATION */

.account-info-row {
    background-color: #F8F7FF;
    border-bottom: 10px solid #474E5D;
}


/* HEADER */

.header {
    margin-top: 25px;
}

img.banner {
    max-width: 400px;
    width: 100%;
}

.tagline {
    padding-bottom: 10px;
    display: table;
}

#about-click {
    display: table;
    margin: 10px auto;
    font-size: 2vw;
}

#about-click:hover {
    cursor: pointer;
}

#about {
    display: none;
    font-size: 2vw;
}


/* MAIN */

main {
    margin-bottom: auto;
    position: relative;
}



/* MIDDLE */

.middle {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


/* SEARCH FORM */

.btn-custom {
    background-color: #F8F7FF;
    color: #1883A5;
    margin-top: 0;
}

.btn-custom:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

#book-input {
    border-radius: 5px!important;
    padding: 5px!important;
}

.fa-home {
    font-size: 36px!important;
}

/* BACKGROUNDS */

.bg-1 {
    background-color: #1883A5;
    color: #ffffff;
}


/* CARD STYLES */

.card {
    background-color: #F8F7FF;
    border: 0 solid #474e5d;
}

.card-img-top {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin-top: 20px;
}

.image-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vw;
    max-width: 150px;
    max-height: 150px;
    margin: 0 auto;
}

.google-card .image-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 350px;
    max-height: 350px;
    margin: 10px auto 0 auto;
}

.google-card .card-img-top {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
}


/* RESULTS AREA */

.results-area {
    width: 90%;
    height: auto;
}

.error-card {
    width: 100%;
    padding: 20px;
    height: auto;
    min-height: 150px;
    margin: 10px auto;
    text-align: center;
}


/* GOOGLE RESULTS */

.descriptor {
    font-weight: bold;
    cursor: pointer;
    display: table;
}

.google-desc {
    display: none;
}

.google-card {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 90%;
}


/* EBAY RESULTS */

#books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin-left: 5px;
}

.ebay-card {
    width: 100%;
    max-width: 18rem;
    margin: 10px;
    height: auto;
    align-items: center;
}

.ebay-card .card-title {
    font-size: 1rem!important;
}



/* PRIOR SEARCHES */

#sortable {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ui-icon-arrowthick-2-e-w { 
    position: absolute; 
    left: 10px;
    top: 10px; 
    cursor: pointer;
    display: inline;
}

.ui-icon-arrowthick-2-n-s {
    position: absolute; 
    left: 10px;
    top: 10px; 
    cursor: pointer;
    display: none;
}

.search-card {
    width: 15rem;
    margin: 10px;
    height: 100%;
    min-height: 15rem;
    align-items: center;
}

.search-card-body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.remove {
    display: block;
    margin: 5px auto;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button{
    color: white!important;
}



/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    clear: both;
    text-align: center;
    color: white;
}

footer p {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
}


/* ANIMATIONS */


/* FADE IN */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 991px) {
    #books {
        margin-left: 0;
    }
}


/* Tablet portrait */

@media screen and (max-width: 798px) {
    h3 {
        font-size: 1.5rem!important;
    }
    h5 {
        font-size: 1.1rem!important;
    }
    p {
        font-size: .9rem!important;
    }
    #account-info, #signIn, #signOut {
        font-size: .7rem
        letter-spacing: 2.5pt;
    }
    .ebay-card {
        max-width: none;
        margin: 10px auto;
    }
    .ebay-card .card-title {
        font-size: .9rem!important;
    }
    footer p {
        font-size: 1.7rem!important;
    }
    .table-display {
        display: table;
    }
}

@media screen and (max-width: 767px) {
    #account-info ul {
        padding-left: 0!important;
        text-align: center;
    }
    #account-info li {
        display: block;
    } 
    .navbar {
        padding: .5rem 1rem!important;
    }
}

@media screen and (max-width: 566px) {
    .ui-icon-arrowthick-2-e-w { 
        display: none;
}
    .ui-icon-arrowthick-2-n-s {
        display: inline;   
}
}

@media screen and (max-width: 510px) {
    h3 {
        font-size: 1.3rem!important;
    }
    h5 {
        font-size: 1rem!important;
    }
    p {
        font-size: .9rem!important;
    }
    .ebay-card .card-title {
        font-size: .7rem!important;
    }
    footer p {
        font-size: 1.5rem!important;
    }
}

@media screen and (max-width: 385px) {
    h3 {
        font-size: 1.1rem!important;
    }
    h5 {
        font-size: .9rem!important;
    }
    p {
        font-size: .8rem!important;
    }
    .ebay-card .card-title {
        font-size: .6rem!important;
    }
    .btn-custom {
        text-align: center;
        margin: 10px auto!important;
        display: block!important;
    }
    footer p {
        font-size: 1.3rem!important;
    }
}

@media screen and (max-width: 350px) {
    h3 {
        font-size: .9rem!important;
    }
    h5 {
        font-size: .8rem!important;
    }
    p {
        font-size: .7rem!important;
    }
    .ebay-card .card-title {
        font-size: .5rem!important;
    }
    footer p {
        font-size: 1rem!important;
    }
}